::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}

::-webkit-scrollbar-track {
  background: rgb(2, 9, 23);
}

/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  -moz-outline-style: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1619px;
  margin: 0 auto;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

body {
  background: url(../../images/body-bg.png) no-repeat;
  background-size: cover;
  font-family: "Atyp Display", sans-serif;
  font-weight: 400;
  color: #fff;
}

.title-text {
  font-family: "Atyp Display", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 0 190px;
}
.header .btn {
  font-size: 21px;
  width: 239px;
  height: 52px;
  line-height: 52px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 57px;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  background-image: linear-gradient(#fff, #fff 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.nav-link:hover {
  background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}

.hero {
  background-image: url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 145px;
  z-index: 1;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url(../../images/hero-shadow-bg.png);
  z-index: -1;
}
.hero-swiper__box {
  position: relative;
}
.hero .swiper-wrapper {
  height: 457px;
}
.hero-slider__boxes {
  display: flex;
  justify-content: space-between;
  max-width: 92%;
}
.hero-slider__info-title {
  margin: 10px 0 14px 0;
  font-size: 215px;
  font-weight: 400;
  line-height: 215px;
  letter-spacing: 0em;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}
.hero-slider__info {
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0em;
}
.hero-slider__info-box .btn {
  margin-top: 55px;
  font-size: 21px;
  width: 334px;
  height: 73px;
  line-height: 73px;
}

.relative {
  position: relative;
}

.lasted-news {
  padding-top: 200px;
  text-align: center;
  color: #F2F2F2;
  padding-bottom: 140px;
  position: relative;
  z-index: 1;
}
.lasted-news::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45%;
  left: -719px;
  opacity: 0.43px;
  transform: rotate(14.76deg);
  background: url(../../images/gradient-bg.png) no-repeat;
  background-size: contain;
  z-index: -1;
}
.lasted-news::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -50%;
  right: -619px;
  opacity: 0.43px;
  transform: rotate(180deg);
  background: url(../../images/gradient-bg.png) no-repeat;
  background-size: contain;
  z-index: -1;
}
.lasted-news .title-text {
  margin-bottom: 46px;
}
.lasted-news__info {
  font-size: 29px;
  line-height: 43px;
  letter-spacing: 0em;
}
.lasted-news__info span {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}
.lasted-news__btns {
  margin-top: 81px;
  display: flex;
  gap: 42px;
  justify-content: center;
}
.lasted-news__btns a {
  font-size: 23px;
  width: 327px;
  height: 68px;
  line-height: 68px;
}
.lasted-news__btns a:nth-child(2) {
  font-size: 23px;
  width: 624px;
  height: 68px;
  line-height: 68px;
}

.advantages {
  padding-bottom: 177px;
  position: relative;
  z-index: 10;
}
.advantages .title-text {
  text-align: center;
  margin-bottom: 101px;
}
.advantages-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 82px;
}
.advantages-box {
  color: #F2F2F2;
}
.advantages-box__info {
  max-width: 346px;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin-top: 26px;
}

.characteristics {
  padding: 177px 0 0 0;
}
.characteristics-swiper {
  width: 94%;
  margin: 0;
}
.characteristics-slider__box {
  border-radius: 40px;
  padding: 210px 61px 0 144px;
  position: relative;
  background: url(../../images/slider-bg.png) no-repeat;
  background-size: cover;
}
.characteristics-slider__box::before {
  content: "";
  position: absolute;
  top: -3%;
  left: -4%;
  width: 656.76px;
  height: 323.37px;
  filter: blur(100px);
  border-radius: 50%;
  opacity: 52%;
  background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}
.characteristics-slider__box .title-text {
  position: absolute;
  top: 33px;
  left: 180px;
}
.characteristics-slider__box .swiper-btns {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.characteristics-slider__box .swiper-pagination {
  flex-direction: row;
  bottom: var(--swiper-pagination-bottom, 95px);
  left: 155px;
}
.characteristics-slider__box .swiper-pagination-bullet:first-child.swiper-pagination-bullet-active {
  border-color: #BCAB8B;
}
.characteristics-slider__box .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active,
.characteristics-slider__box .swiper-pagination-bullet:last-child.swiper-pagination-bullet-active {
  border-color: #D9D9D9;
}
.characteristics-slider__box .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active {
  border-color: #2E2E2E;
}
.characteristics-slider__box .swiper-pagination-bullet:first-child::before {
  background: #BCAB8B;
}
.characteristics-slider__box .swiper-pagination-bullet:nth-child(2)::before {
  background: #D9D9D9;
}
.characteristics-slider__box .swiper-pagination-bullet:nth-child(3)::before {
  background: #2E2E2E;
}
.characteristics-slider__box .swiper-pagination-bullet:last-child::before {
  background: #D9D9D9;
  border-color: #D9D9D9;
}
.characteristics .swiper-slide__box {
  display: flex;
  align-items: start;
  gap: 90px;
  padding-bottom: 71px;
}
.characteristics .swiper-slide__box > img {
  width: 477px;
  height: 477px;
}
.characteristics .swiper-slide__box h4 {
  font-size: 44px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  padding-bottom: 60px;
}
.characteristics-slider__info {
  font-size: 22px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
  color: #fff;
}
.characteristics-slider__info span {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}
.characteristics-slider__content .btn {
  margin-top: 65px;
  font-size: 20px;
  width: 373px;
  height: 59px;
  line-height: 59px;
}
.characteristics-box {
  position: relative;
  padding: 327px 0 315px 0;
  background: url(../../images/charackter-bg.svg) no-repeat;
  background-size: 111%;
  background-position: center 155px;
}
.characteristics-box img {
  width: 100%;
  margin: 0 auto;
  padding: 0 300px;
  object-fit: contain;
}
.characteristics-box__content p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0em;
  max-width: 407px;
  width: 100%;
  position: absolute;
}
.characteristics-box__content p.first {
  top: 25%;
  left: 29%;
}
.characteristics-box__content p.second {
  top: 12%;
  right: 22%;
}
.characteristics-box__content p.three {
  bottom: 15%;
  left: 32%;
}
.characteristics-box__content p.four {
  bottom: 12%;
  right: 5%;
}

.documentation {
  padding-bottom: 156px;
}
.documentation .container {
  background: url(../../images/documentation-bg.svg) no-repeat;
  background-size: 100% 100%;
  padding: 88px 0;
  text-align: center;
  position: relative;
}
.documentation .title-text {
  position: absolute;
  top: 31px;
  left: 141px;
}
.documentation-boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  flex-wrap: wrap;
}
.documentation-box {
  display: flex;
  gap: 30px;
  align-items: start;
  position: relative;
}
.documentation-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: all 0.3s linear;
  transform-origin: center;
}
.documentation-box:hover::before {
  transform: scale(1);
}
.documentation-box__download-link {
  font-size: 33px;
  line-height: 47px;
  letter-spacing: 0em;
  color: #fff;
}

.where-buy {
  padding-bottom: 160px;
}
.where-buy .title-text {
  text-align: center;
  margin-bottom: 61px;
}
.where-buy__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
  gap: 11px;
}
.where-buy__box {
  border-radius: 40px;
  border: 1px solid;
  display: flex;
  height: 146px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(185, 185, 185, 0.1019607843);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  -webkit-backdrop-filter: blur(0.5);
  backdrop-filter: blur(0.5);
}

.contact {
  padding-bottom: 66px;
  background: url(../../images/footer-bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
}
.contact-boxes {
  display: flex;
  align-items: center;
}
.contact-map iframe {
  border-radius: 34px;
}
.contact-adres {
  background: url(../../images/contact-bg.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 40px 40px 40px 130px;
  margin-left: -10px;
  position: relative;
  z-index: 10;
}
.contact-adres__title {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
}
.contact-adres__info {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  color: #fff;
}
.contact-adres__phone {
  display: flex;
  gap: 40px;
}
.contact-adres__phone a {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  color: #fff;
}

.btn {
  font-size: 23px;
  width: 334px;
  height: 68px;
  line-height: 68px;
  font-family: "Atyp Display", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
  border-radius: 12px;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  color: #fff;
  padding: 0;
  white-space: nowrap;
}

.btn:hover {
  box-shadow: 2px -1px 35.5999984741px 0px rgba(255, 255, 255, 0.5490196078);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
  display: none;
  z-index: 999;
  background: url(../../images/modal-bg.svg) no-repeat;
  background-size: cover;
  overflow: scroll;
}
.modal-title {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
  margin-bottom: 61px;
  font-size: 39px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
}
.modal-dialog {
  position: relative;
  margin-top: 71px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1722px;
  width: 100%;
  height: fit-content;
  padding: 105px 0 112px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(185, 185, 185, 0.1019607843);
  border-radius: 20px;
}
.modal-close__btn {
  position: absolute;
  top: 40px;
  right: 39px;
  width: 54px;
  height: 54px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 54px;
  cursor: pointer;
}
.modal-close__btn > img {
  transition: all 0.2s linear;
}
.modal-close__btn:hover > img {
  transform: rotate(90deg);
}
.modal-form {
  text-align: center;
}
.modal-form input,
.modal-form textarea {
  box-shadow: 0px 4px 7.9000000954px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #fff;
  border: 1px solid #FFF;
  margin: 0 auto 21px auto;
  width: 100%;
  max-width: 963px;
  border-radius: 12px;
  background: transparent;
  height: 67px;
  line-height: 67px;
  padding-left: 54px;
}
.modal-form input::placeholder,
.modal-form textarea::placeholder {
  color: #677481;
}
.modal input[type=email].warning,
.modal input[type=email].warning::placeholder {
  color: #FC403A;
}
.modal textarea {
  height: 251px;
  resize: none;
  display: flex;
  justify-content: center;
}
.modal input[type=number]::-webkit-inner-spin-button,
.modal input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.modal .email-box {
  position: relative;
}
.modal .email-box .validate-info {
  position: absolute;
  top: 40%;
  right: 22px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  gap: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: #FF3636;
}
.modal .email-box .validate-info span {
  display: inline-block;
}
.modal .email-box .validate-info.show {
  display: flex;
}
.modal .send-btn {
  font-size: 24px;
  width: 486px;
  height: 62px;
  line-height: 62px;
  margin-top: 41px;
}
.modal .send-btn.warning {
  background: linear-gradient(180deg, #FF0800 0%, #F0B051 100%);
  box-shadow: 2px -1px 35.5999984741px 0px rgba(255, 255, 255, 0.5490196078);
}
.modal .warning-text {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-top: 45px;
  text-align: center;
}
.modal .warning-text.active {
  display: block;
}

.modal.show {
  display: block;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.swiper-pagination-bullet {
  opacity: 1;
  position: relative;
  width: 21px;
  height: 21px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: transparent;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #D9D9D9;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 52%;
  left: 49%;
  transform: translate(-40%, -58%);
  width: 7px;
  height: 7px;
  background: #D9D9D9;
  border-radius: 50%;
}
.swiper .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper .swiper-vertical > .swiper-pagination-bullets {
  top: 95px;
  right: 0;
}
.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}
.swiper-button-prev {
  margin-bottom: 48px;
}
.swiper-button-next, .swiper-button-prev {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 86px;
  height: 86px;
  position: initial;
}
.swiper-btns {
  position: absolute;
  right: -38px;
  bottom: 55px;
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
