@use '../abstracts/mixin';

.characteristics {
	padding: 11.0625rem 0 0 0;

	&-swiper {
		width: 94%;
		margin: 0;
	}

	&-slider__box {
		border-radius: 2.5rem;
		padding: 13.125rem 3.8125rem 0 9rem;
		position: relative;
		background: url(../../images/slider-bg.webp) no-repeat;
		background-size: 100% 100%;

		&::before {
			content: "";
			position: absolute;
			top: -3%;
			left: -4%;
			width: 41.0475rem;
			height: 20.210625rem;
			filter: blur(6.25rem);
			border-radius: 50%;
			opacity: 52%;
			background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
		}

		.title-text {
			position: absolute;
			top: 2.0625rem;
			left: 11.25rem;
		}

		.swiper-btns {
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}

		.swiper-pagination {
			flex-direction: row;
			bottom: var(--swiper-pagination-bottom, 5.9375rem);
			left: 9.6875rem;
			width: fit-content;
		}

		.swiper-pagination-bullet:first-child.active {
			border-color: #BCAB8B;
		}

		.img-wrapper {

			img {
				display: none;
				animation: fade 0.3s linear;

				&.active {
					display: block;
				}
			}
		}

		@keyframes fade {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		.swiper-pagination-bullet {

			&:nth-child(2).active,
			&:last-child.active {
				border-color: #D9D9D9;
			}

			&:nth-child(3).active {
				border-color: #2E2E2E;
			}

			&:first-child::before {
				background: #BCAB8B;
			}

			&:nth-child(2)::before {
				background: #D9D9D9;
			}

			&:nth-child(3)::before {
				background: #2E2E2E;
			}

			&:last-child::before {
				background: #D9D9D9;
				border-color: #D9D9D9;
			}
		}

	}

	.slider-img {
		width: 29.8125rem;
		height: 29.8125rem;
	}

	.swiper-slide__box {
		display: flex;
		align-items: start;
		gap: 5.625rem;
		padding-bottom: 4.4375rem;

		&>img {
			width: 29.8125rem;
			height: 29.8125rem;
		}

		h4 {
			font-size: 2.75rem;
			font-weight: 400;
			line-height: 2.75rem;
			letter-spacing: 0em;
			padding-bottom: 3.75rem;
		}
	}

	&-slider__info {
		font-size: 1.375rem;
		font-weight: 400;
		line-height: 2.3125rem;
		letter-spacing: 0em;
		color: #fff;

		span {
			-webkit-background-clip: text;
			color: transparent;
			background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
		}
	}

	&-slider__content {
		.btn {
			margin-top: 4.0625rem;
			@include mixin.btn($font-size: 1.25rem, $width: 23.3125rem, $height: 3.6875rem, $line-height: 3.6875rem)
		}
	}

	&-box {
		position: relative;
		padding: 20.4375rem 0 19.6875rem 0;
		background: url(../../images/charackter-bg.svg) no-repeat;
		background-size: 111%;
		background-position: center 9.6875rem;

		img {
			width: 100%;
			margin: 0 auto;
			padding: 0 18.75rem;
			object-fit: contain;
		}

		&__content {
			p {
				font-size: 1.25rem;
				line-height: 1.75rem;
				letter-spacing: 0em;
				max-width: 25.4375rem;
				width: 100%;
				position: absolute;

				&.first {
					top: 25%;
					left: 29%;
				}

				&.second {
					top: 12%;
					right: 22%;
				}

				&.three {
					bottom: 15%;
					left: 32%;
				}

				&.four {
					bottom: 12%;
					right: 5%;
				}

				&.five {
					display: none;
				}
			}

		}
	}

}

@media screen and (max-width: 100rem) {
	.characteristics {
		.title-text {
			left: 10%;
		}
	}
}

@media screen and (max-width: 90rem) {
	.characteristics {
		.swiper {
			width: 100%;
		}

		.title-text {
			left: 13%;
		}

		&-slider__box {
			padding: 11.4375rem 2.875rem 4.9375rem 2.5rem;

			.swiper-pagination {
				bottom: var(--swiper-pagination-bottom, 2rem);
				left: 15%;
				gap: 0;
			}

			.swiper-pagination-bullet::before {
				left: 45%;
			}

			.swiper-btns {
				top: auto;
				transform: translateY(0);
				right: 0;
				bottom: 0;
			}

			.swiper-button-next img,
			.swiper-button-prev img {
				width: 1.1875rem;
				height: 0.625rem;
			}
		}

		.slider-img {
			max-width: 25rem;
			width: 100%;
			height: 25rem;
		}

		.swiper-slide__box {
			gap: 4.375rem;
			justify-content: center;
			padding-bottom: 0;
			align-items: center;

			h4 {
				padding-bottom: 2.75rem;
			}
		}

		&-slider__info {
			font-size: 1.25rem;
			line-height: 2.125rem;
		}

		.swiper-button-prev,
		.swiper-button-next {
			width: 2.75rem;
			height: 2.75rem;
		}

		&-slider__content {
			.btn {
				margin-top: 6.125rem;
			}
		}

		&-box {
			background-position: center 18.75rem;
		}

		&-box img {
			padding: 0 6.25rem;

		}

		&-box__content {
			p.first {
				top: 23%;
				left: 19%;
			}

			p.second {
				right: 15%;
			}

			p.three {
				bottom: 14%;
				left: 22%;
			}

			p.four {
				right: -5%;
			}
		}

		&-slider__box::before {
			top: 46%;
			left: -21%;
		}
	}
}

.media-bg {
	display: none;
}

@media screen and (max-width: 48rem) {
	.characteristics {
		&-box {
			padding: 7.125rem 1.875rem 8.5625rem 1.875rem;
			background: none;
			position: relative;
			z-index: 1;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				height: 30%;
				background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
				opacity: .5;
				filter: blur(6.25rem);
				z-index: -1;
			}
		}

		.title-text {
			left: 50%;
			transform: translateX(-50%) !important;
			top: 1.125rem;
		}

		&-slider__box::before {
			top: 30%;
			width: 24.3125rem;
		}

		&-slider__box {
			background-image: url(../../images/media-slider-bg.webp);
			padding: 6rem 1.375rem 1.6875rem 2.125rem;
		}

		.swiper-slide__box h4 {
			font-size: 1.25rem;
			line-height: 1.25rem;
			padding-bottom: 0.6875rem;
		}

		&-slider__info {
			font-size: 0.6875rem;
			line-height: 0.875rem;
			margin-bottom: 0.625rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.swiper-slide__box {
			flex-direction: column;
			gap: 3.375rem;
		}

		.slider-img {
			width: 13.125rem;
			height: 13.125rem;
		}

		.characteristics-slider__content .btn {
			width: 14.1875rem;
			font-size: 0.75rem;
			height: 2.5rem;
			line-height: 2.5rem;
			margin: 1.8125rem auto 0 auto;
			display: flex;
			justify-content: center;
		}

		.characteristics-slider__box .swiper-pagination {
			left: 33%;
			bottom: var(--swiper-pagination-bottom, 20.2rem);
		}

		.characteristics-slider__box .swiper-pagination-bullet::before {
			left: 48%;
		}

		.characteristics-slider__box .swiper-btns {
			display: flex;
			width: 100%;
			top: 17%;
			transform: translateY(-50%);
			justify-content: space-between;
			height: fit-content;
		}

		.swiper-button-next,
		.swiper-button-prev {
			width: 1.75rem;
			height: 1.75rem;
			margin: 0;

			img {
				width: 0.75rem;
			}
		}

		.characteristics-box__content {
			p {
				font-size: 0.625rem;
				line-height: 0.875rem;
				max-width: 12.9375rem;

				&.first {
					top: 26%;
					left: 10%;
					width: 8.625rem;
				}

				&.second {
					top: 8%;
					right: 30%;
				}

				&.three {
					bottom: 15%;
					left: 0%;
					width: 9.875rem;
				}

				&.four {
					right: -4%;
					width: 11.875rem;
				}

				&.five {
					top: 27%;
					right: -3%;
					display: block;
				}
			}
		}

		.desktop-bg {
			display: none;
		}

		.media-bg {
			display: block;
		}

		.characteristics-box img {
			padding: 0;
		}
	}
}

@media screen and (max-width: 422px) {
	.characteristics-slider__box .swiper-pagination {
		bottom: var(--swiper-pagination-bottom, 22rem) !important;
	}
}

@media screen and (max-width: 400px) {
	.characteristics-slider__box .swiper-pagination {
		bottom: var(--swiper-pagination-bottom, 21rem) !important;
	}
}

@media screen and (max-width: 395px) {
	.characteristics-slider__box .swiper-pagination {
		bottom: var(--swiper-pagination-bottom, 22rem) !important;
	}
}