.nav {
	display: flex;
	align-items: center;
	gap: 3.5625rem;

	&-list {
		display: flex;
		gap: 3.125rem;
	}

	&-link {
		font-size: 1.3125rem;
		font-weight: 400;
		line-height: 1.5625rem;
		letter-spacing: 0em;
		background-image: linear-gradient(#fff, #fff 100%);
		-webkit-background-clip: text;
		color: transparent;

		&:hover {
			background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
		}
	}
}

@media screen and (max-width: 100rem) {
	.nav {
		gap: 1rem;

		&-list {
			gap: 1rem;
		}

	}
}

@media screen and (max-width: 90rem) {
	.nav {
		gap: 2.5rem;

		&-list {
			gap: 2.5rem;
		}

		&-link {
			font-size: 1.0625rem;
		}
	}
}

@media screen and (max-width: 48rem) {
	.nav {
		position: absolute;
		top: -100%;
		transition: all 0.3s linear;
		left: 0;
		width: 100%;
		z-index: 100;
		flex-direction: column;
		padding-bottom: 6.25rem;
		gap: 1.9375rem;
		background: #040A19;

		&::before {
			content: "";
			position: absolute;
			top: 26%;
			left: 0;
			width: 100%;
			height: 26%;
			z-index: -1;
			filter: blur(6.25rem);
			opacity: 55%;
			background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
		}

		&.active {
			top: 0;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -2.875rem;
			left: 0;
			width: 100%;
			height: 6.8125rem;
			background: url(../../images/nav-shadow.webp) no-repeat;
			background-size: 100% 100%;
		}

		&-list {
			flex-direction: column;
			align-items: center;
			gap: 1.2rem;
			padding-top: 7.5rem;
			margin: 0;
		}

		&-link {
			font-size: 1.125rem;
		}
	}
}