.where-buy {
	padding-bottom: 10rem;

	.title-text {
		text-align: center;
		margin-bottom: 3.8125rem;
	}

	&__boxes {
		display: flex;
		gap: 0.6875rem;

		&::-webkit-scrollbar-thumb {
			height: 0;
			background: none;
		}
	}

	&__box {
		min-width: 18.8125rem;
		width: 100%;
		border-radius: 2.5rem;
		border: 0.0625rem solid;
		display: flex;
		height: 9.125rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;
		overflow: hidden;
		color: rgba(255, 255, 255, 0.4);
		background-color: #B9B9B91A;
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
		border-left: none;
		-webkit-backdrop-filter: blur(0.5);
		backdrop-filter: blur(0.5);
	}
}

@media screen and (max-width: 90rem) {
	.where-buy {
		padding-bottom: 8.5625rem;
	}
}

@media screen and (max-width: 960px) {
	.where-buy__boxes {
		overflow-x: auto;
	}
}

@media screen and (max-width: 48rem) {
	.where-buy {
		padding-bottom: 6.0625rem;

		.title-text {
			margin-bottom: 1.9375rem;
		}

		&__boxes {
			margin-right: -1.375rem;
			overflow-x: auto;
		}

		&__box {
			min-width: 16.125rem;
			height: 7.75rem;
		}
	}
}