@use '../abstracts/variables';
@use '../abstracts/mixin';

.btn {
	@include mixin.btn;
	font-family: "Atyp Display", sans-serif;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
	background: variables.$btn-gradient;
	border-radius: 12px;
	cursor: pointer;
	transition: box-shadow 0.2s linear;
	color: #fff;
	padding: 0;
	white-space: nowrap;
}

.btn:hover {
	box-shadow: 2px -1px 35.599998474121094px 0px #FFFFFF8C;
}