@use '../abstracts/variables';
@use '../abstracts/mixin';

.btn {
	@include mixin.btn;
	font-family: "Atyp Display", sans-serif;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
	background: variables.$btn-gradient;
	border-radius: 0.75rem;
	cursor: pointer;
	transition: box-shadow 0.2s linear;
	color: #fff;
	padding: 0;
	white-space: nowrap;
}

.btn:hover {
	box-shadow: 0.125rem -0.0625rem 2.2249999046325684rem 0rem #FFFFFF8C;
}

@media screen and (max-width: 48rem) {
	.btn {
		border-radius: 0.5rem;
	}
}