@use '../abstracts/mixin';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 101%;
	height: 100%;
	// transform: scale(0);
	display: none;
	z-index: 999;
	// background: url(../../images/modal-bg.webp) no-repeat;
	background: #020917;
	background-size: cover;
	overflow-y: scroll;
	overflow-x: hidden;



	&-title {
		-webkit-background-clip: text;
		color: transparent;
		background-image: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
		margin-bottom: 3.8125rem;
		font-size: 2.4375rem;
		font-weight: 400;
		line-height: 2.4375rem;
		letter-spacing: 0em;
	}

	&-dialog {
		position: relative;
		margin-top: 4.4375rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 107.625rem;
		width: 100%;
		height: fit-content;
		padding: 6.5625rem 0 7rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: #B9B9B91A;
		border-radius: 1.25rem;
		z-index: 10;

		&::after {
			content: "";
			position: absolute;
			top: 22%;
			right: 11%;
			opacity: 55%;
			width: 18.75rem;
			height: 18.75rem;
			filter: blur(6.25rem);
			background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
			z-index: -1;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: -16%;
			left: -8%;
			opacity: 50%;
			width: 46.66375rem;
			height: 56.56rem;
			transform: rotate(20deg);
			filter: blur(6.25rem);
			background: url(../../images/modal-gradient.svg) no-repeat;
			background-size: cover;
			z-index: -1;
		}
	}

	&-close__btn {
		position: absolute;
		top: 2.5rem;
		right: 2.4375rem;
		width: 3.375rem;
		height: 3.375rem;
		border: 0.125rem solid #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		line-height: 3.375rem;
		cursor: pointer;

		&>img {
			transition: all 0.2s linear;
		}

		&:hover>img {
			transform: rotate(90deg);
		}

	}

	&-form {
		text-align: center;

		input,
		textarea {
			box-shadow: 0rem 0.25rem 0.4937500059604645rem 0rem #00000040;
			font-size: 1.375rem;
			font-weight: 400;
			line-height: 1.375rem;
			letter-spacing: 0em;
			color: #fff;
			border: 0.0625rem solid #FFF;
			margin: 0 auto 1.3125rem auto;
			width: 100%;
			max-width: 60.1875rem;
			border-radius: 0.75rem;
			background: transparent;
			height: 4.1875rem;
			line-height: 4.1875rem;
			padding-left: 3.375rem;

			&::placeholder {
				color: #677481;
			}
		}
	}

	input[type='email'].warning,
	input[type='email'].warning::placeholder {
		color: #FC403A;
	}

	#name.warning::placeholder,
	#phone.warning::placeholder,
	#company.warning::placeholder {
		color: #FC403A;
	}

	textarea {
		height: 15.6875rem;
		resize: none;
		display: flex;
		justify-content: center;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}

	.email-box {
		position: relative;

		.validate-info {
			position: absolute;
			top: 40%;
			right: 1.375rem;
			transform: translateY(-50%);
			display: none;
			align-items: center;
			gap: 1rem;
			font-family: "Montserrat", sans-serif;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1rem;
			letter-spacing: 0em;
			text-align: right;
			color: #FF3636;

			span {
				display: inline-block;
			}

			&.warning {
				display: flex;
			}
		}
	}

	.send-btn {
		@include mixin.btn($width: 30.375rem, $height: 3.875rem, $line-height: 3.875rem, $font-size: 1.5rem);
		margin-top: 2.5625rem;

		&.warning {
			background: linear-gradient(180deg, #FF0800 0%, #F0B051 100%);
			box-shadow: 0.125rem -0.0625rem 2.2249999046325684rem 0rem #FFFFFF8C;
		}
	}

	.warning-text {
		display: none;
		font-family: "Montserrat", sans-serif;
		font-size: 1.375rem;
		font-weight: 500;
		line-height: 1.375rem;
		letter-spacing: 0em;
		text-align: left;
		color: #fff;
		padding-top: 2.8125rem;
		text-align: center;
	}

	.warning-text.warning {
		display: block;
	}
}

.modal.show {
	// transform: scale(1);
	display: block;
}

@media screen and (max-width: 48rem) {
	.modal {
		background: url(../../images/media-modal-bg.webp) no-repeat;
		background-size: cover;
	}

	.modal-dialog {
		padding: 4.0625rem 0 1.6875rem 0;
		width: 90%;
		margin-top: 0;

		&::before {
			display: none;
		}

		&::after {
			right: auto;
			left: -59%;
			opacity: 12%;
		}
	}

	.modal-title {
		font-size: 1.5625rem;
		line-height: 1.8125rem;
		text-align: center;
		width: 17rem;
		margin-bottom: 1.4375rem;
	}

	.modal-close__btn {
		width: 1.625rem;
		height: 1.625rem;
		top: 1.25rem;
		right: 1.6875rem;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.modal .send-btn {
		width: 14.1875rem;
		height: 2.5rem;
		line-height: 2.5rem;
		font-size: 0.9375rem;
		margin-top: 2.1875rem;
	}

	.modal-form input,
	.modal-form textarea {
		width: 18.9375rem;
		font-size: 0.75rem;
		line-height: 2.6875rem;
		padding-left: 1.0625rem;
		box-shadow: 0rem 0.25rem 0.4937500059604645rem 0rem #00000040;
		height: 2.6875rem;
	}

	.modal textarea {
		height: 10.125rem;
		padding-top: 0;
		margin-bottom: 0;
	}

	.modal .warning-text {
		font-size: 0.6875rem;
		line-height: 0.8125rem;
		padding-top: 1.375rem;
		max-width: 12.8125rem;
		width: 100%;
		margin: 0 auto;
	}

	.modal .email-box .validate-info span {
		font-size: 0.4375rem;
	}

	.modal .email-box .validate-info {
		top: 34%;
		right: 3.25rem;
	}
}