@use "../abstracts/variables";

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}

::-webkit-scrollbar-track {

	background: rgb(2, 9, 23);
}

/* Core style */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

button {
	border: none;
	background: none;
}

input:focus {
	outline: none !important;
}

a {
	display: inline-block;
}

a:active,
a:focus {
	outline: 0;
	-moz-outline-style: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.wrapper {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1619px;
	margin: 0 auto;
}

.show {
	display: block;
}

.hidden {
	display: none;
}