@use "../abstracts/variables";

::-webkit-scrollbar {
	width: 0.4375rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.625rem;
	background: linear-gradient(180deg, #5DF7EE 0%, #5174F0 100%);
}

::-webkit-scrollbar-track {

	background: rgb(2, 9, 23);
}

/* Core style */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

button {
	border: none;
	background: none;
}

input:focus {
	outline: none !important;
}

a {
	display: inline-block;
}

a:active,
a:focus {
	outline: 0;
	-moz-outline-style: none;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.wrapper {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 101.1875rem;
	margin: 0 auto;
}

.show {
	display: block;
}

.hidden {
	display: none;
}

// media 
@media screen and (max-width: 105.625rem) {
	.container {
		max-width: 100%;
		padding-left: 1.875rem;
		padding-right: 1.875rem;
	}
}

@media screen and (max-width: 90rem) {
	.container {
		padding-left: 5.625rem;
		padding-right: 5.625rem;
	}

	.title-text {
		font-size: 2.4375rem !important;
		line-height: 2.4375rem !important;
	}
}

@media screen and (max-width: 48rem) {
	.container {
		padding-left: 1.375rem;
		padding-right: 1.375rem;
	}

	.title-text {
		font-size: 1.5625rem !important;
		line-height: 1.5625rem !important;
	}
}

// 4k 
@media screen and (min-width: 1920px) {
	.hero-slider__info-img {
		max-width: 26.6875rem;
		width: 100%;
		height: 26.6875rem;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

@media (min-width: 2000px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 2100px) {
	html {
		font-size: 19px;
	}
}

@media (min-width: 2200px) {
	html {
		font-size: 20px;
	}
}

@media (min-width: 2300px) {
	html {
		font-size: 21px;
	}
}

@media (min-width: 2400px) {
	html {
		font-size: 22px;
	}
}

@media (min-width: 2500px) {
	html {
		font-size: 23px;
	}
}

@media (min-width: 2600px) {
	html {
		font-size: 24px;
	}
}

@media (min-width: 2700px) {
	html {
		font-size: 25px;
	}
}

@media (min-width: 2800px) {
	html {
		font-size: 26px;
	}
}

@media (min-width: 2900px) {
	html {
		font-size: 27px;
	}
}

@media (min-width: 3000px) {
	html {
		font-size: 28px;
	}

	.hero::before {
		bottom: -11.0625rem !important;
	}
}

@media (min-width: 3100px) {
	html {
		font-size: 29px;
	}
}

@media (min-width: 3200px) {
	html {
		font-size: 30px;
	}
}

@media (min-width: 3300px) {
	html {
		font-size: 31px;
	}
}

@media (min-width: 3400px) {
	html {
		font-size: 32px;
	}
}

@media (min-width: 3500px) {
	html {
		font-size: 33px;
	}
}

@media (min-width: 3600px) {
	html {
		font-size: 34px;
	}
}

@media (min-width: 3700px) {
	html {
		font-size: 35px;
	}
}

@media (min-width: 3800px) {
	html {
		font-size: 36px;
	}
}