@use "../abstracts/variables";

body {
	background: url(../images/body-bg.png) no-repeat;
	background-size: cover;
	font-family: 'Atyp Display', sans-serif;
	font-weight: 400;
	// background: variables.$black;
	color: #fff;
}

.title-text {
	font-family: 'Atyp Display', sans-serif;
	font-size: 3.75rem;
	font-weight: 400;
	line-height: 3.75rem;
	letter-spacing: 0em;
	color: #fff;
}

@media screen and (max-width: 30rem) {
	body {
		background: #010612;
	}
}